#lessonProgress progress {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.progress:not(:last-child) {
	margin-bottom: 0;
}

.table td, .table th {
	font-size: 1rem;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.curMonthTable td, .curMonthTable th {
	font-size: 1.4rem;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.clock {
	font-size: 8rem;
}