#lessonProgress progress {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.progress:not(:last-child) {
	margin-bottom: 0;
}

.table td, .table th {
	font-size: 1rem;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.curMonthTable td, .curMonthTable th {
	font-size: 1.4rem;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.clock {
	font-size: 10rem;
}

#allLessons .column:first-child {
	height: 2rem;
}

#allLessons .progress {
	margin: 0;
}

#allLessons .column.dot {
	flex: none;
	padding: 0;
	padding-top: 3.725rem;
}

#allLessons .column.dot .progress {
	width: .75rem;
	height: .75rem;
}