:root {
	--bgcolor: #fff;
	--color: #363636;
	--table-stripped: #fafafa;
	--danger-color: #f14668;
	--boxbg: #fff;
	--grey: #dbdbdb;
	--danger-light: hsl(347, 90%, 96%);
	--table-border: #DBDBDB;
	--is-selected: #00d1b2;
	--progress-bg: #EDEDED;
}

.darkmode {
	--bgcolor: #141414;
	--boxbg: #222222;
	--table-stripped: #404040;
	--color: #E1E3E6;
	--danger-color: #cf1a3e;
	--grey: #424242;
	--danger-light: hsl(347, 58%, 25%);
	--table-border: #424242;
	--is-selected: #397DCC;
	--progress-bg: #333333;
}

#lessonProgress progress {
	margin-top: .85rem;
}

.progress:not(:last-child) {
	margin-bottom: 0;
}

.theme-but:hover, .theme-but:active, .theme-but:focus {
    color: var(--color);
    border-color: var(--color);
}

.button.is-focused:not(:active), .button:focus:not(:active) {
	box-shadow: none;
}

.copyright {
	position: sticky;
	bottom: 10px;
	float: right;
}

.copyright a {
    font-size: 1.5rem;
    color: var(--table-border);
}

.theme-but {
    background-color: var(--boxbg);
    color: var(--color);
    font-size: 1.5rem;
    position: absolute;
}

.button.is-rounded.theme-but {
	padding: 0;
	width: 2.5rem;
	height: 2.5rem;
}


html {
	background-color: var(--bgcolor);
}

.progress::-webkit-progress-bar {
	background-color: var(--progress-bg);
}

.text-danger {
	color: var(--danger-color);
}

.table td.is-selected, .table th.is-selected {
	background-color: var(--is-selected);
}

.box {
	background-color: var(--boxbg);
	color: var(--color);
}

.title {
	color: var(--color);
}

.text-danger-light {
	color: var(--danger-light);
}

.table td, .table th {
	border-color: var(--table-border);
}

.text-grey-lighter {
	color: var(--grey);
}

.table {
	background-color: var(--boxbg);
	color: var(--color);
}

.table thead td, .table thead th {
	color: var(--color);
}

.table td, .table th {
	font-size: 1rem;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.curMonthTable td, .curMonthTable th {
	font-size: 1.4rem;
	padding: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.clock {
	font-size: 10rem;
}

#allLessons .column:first-child {
	height: 2rem;
}

#allLessons .progress {
	margin: 0;
}

#allLessons .column.dot {
	flex: none;
	padding: 0;
	padding-top: 3.725rem;
}

#allLessons .column.dot .progress {
	width: .75rem;
	height: .75rem;
}

::-webkit-scrollbar {
    	display: none;
}
